# Database settings
DB_NAME=gallery_db
DB_USER=gallery_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5433

# Telegram settings
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=

# Django settings
DJANGO_SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Redis / Celery settings
REDIS_URL=redis://127.0.0.1:6379
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# App security settings
MAX_UPLOAD_SIZE=524288000
